*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin: 40px auto;
    padding: 0 20px;
}

#caixa {
    padding: 15px;
    border: 1px solid #db5fd5;
    border-radius: 6px;
    margin-top: 10
}

.destaque {
    background-color: rgb(77, 134, 110);
    font-weight: bold;

}